# Apache2 2.4 uses Require
Require all granted

Options +Includes

Header set Access-Control-Allow-Origin "*"

SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php
SetEnv SITELOADNAMEOLD /var/www/vendor/bartonlp/site-class/includes/siteloadOld.php

RewriteEngine On
# Don't allow these robots
RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]

# direct robots.txt to robots.php
#RewriteRule ^robots\.txt$ robots.php [L,NC]
#RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# rewrite the address of csstest.css to tracker.php?id=$1&csstest
RewriteRule ^csstest-(.*)\.css$ https://bartonlp.com/otherpages/tracker.php?id=$1&page=csstest [L,QSA]

# only bartonphillips.org is available via ssl so if I get a request for www. change it to
# https://bartonphillips.org and provide any query info etc.

RewriteCond %{HTTP_HOST} www\.bartonphillips\.org [NC]
RewriteRule ^(.*)$ https://bartonphillips.org/$1 [L,QSA]
